:root {
    --dark-blue: #023047;
    --green: #06D6A0;
    --yellow: #FFD166;
    --light-color: #F1FAEE;
    --pink: #EF476F;
}

body{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(85, 83, 81);
    height: 110vw;

}

nav{
    display: flex;
    justify-content: space-between;
    
}

nav .logo{
    margin: 10px 25px;
}

nav .logo img{
    border-radius: 10px;
}

nav ul li{
    display: inline-block;
    padding: 10px 15px;
    margin-right: 25px;
}

header li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Roboto',sans-serif;
}

.buttons1 .loginbtn{
    background-color: rgb(85, 83, 81);
    border-radius: 21px;
    color: white;
    font-weight: bold;
    font-family: 'DM Serif Display',sans-serif;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

.buttons1 .signupbtn{
    background-color: rgb(168, 194, 23);
    color: black;
    font-weight: bold;
    font-family: 'DM Serif Display',sans-serif;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 21px;
    margin-right: 100px;
} 

.pricing-table-container {
    font-family: "Poppins", sans-serif;
    background-color: rgb(156, 156, 154);
    margin: 25px 0px;
}

.pricing-table-container .pricing-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-table-container h2 {
    margin-right: 32px;
    font-size: 24px;
}

.pricing-table-container .plans-switch {
    width: 250px;
    background: var(--dark-blue);
    height: 55px;
    appearance: none;
    border-radius: 24px;
    outline: none;
    cursor: pointer;
    position: relative;
}

.pricing-table-container .plans-switch-container {
    position: relative;
    color: #fff;
    display: inline-block;
}

.pricing-table-container .plans-switch-container .monthly {
    position: absolute;
    left: 36px;
    top: 18px;
    pointer-events: none;
}

.pricing-table-container .plans-switch-container .yearly {
    position: absolute;
    right: 36px;
    top: 18px;
    pointer-events: none;
}

.pricing-table-container .plans-switch::before {
    content: "";
    position: absolute;
    height: 44px;
    width: 120px;
    border-radius: 24px;
    background: var(--green);
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    transition: all 0.5s;
}

.pricing-table-container .plans-switch:checked::before {
    left: 138px;
    width: 106px;
}


.pricing-table {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}


.pricing-table .table {
    background: var(--light-color);
    width: 260px;
    padding: 32px;
    position: relative;
}

.pricing-table h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.pricing-table .price-container {
    display: flex;
    align-items: center;
}

.pricing-table .price-container .price {
    font-size: 56px;
    font-weight: bold;
    padding-right: 16px;
}

.pricing-table .description {
    font-size: 15px;
    color: #222;
}

.pricing-table .features {
    list-style: none;
    padding: 0;
}

.pricing-table .features li {
    margin: 24px 0;
    display: flex;
    align-items: center;
}

.pricing-table .features li::before {
    content: url('images/check-icon.svg');
    margin-right: 16px;
    margin-top: 4px;
}

.pricing-table a.btn {
    background: var(--dark-blue);
    padding: 16px 0;
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 24px;
    margin-top: 16px;
    transition: all 400ms;
}

.pricing-table a.btn:hover {
    background: #022435;
}


.pricing-table .table img.table-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.pricing-table .table .content {
    z-index: 200;
    position: relative;
}


.pricing-table .table.best-value {
    background: var(--dark-blue);
    color: #fff;
    border-radius: 24px;
    width: 280px;
}

.pricing-table .table.table.best-value .value {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 8px;
    border-radius: 24px 24px 0 0;
    background: var(--pink);
    font-weight: bold;
}

.pricing-table .table.table.best-value .content {
    padding-top: 32px;
}

.pricing-table .table.table.best-value .price {
    font-size: 68px;
}

.pricing-table .table.table.best-value a.btn {
    background: var(--yellow);
    color: #000;
    transition: all 400ms;
}

.pricing-table .table.table.best-value a.btn:hover {
    background: #ffe4a4;
} 

.pricing-table .table.best-value .description {
    color: #eee;
}

.footer{
    background-color: rgb(59, 61, 61);
    padding: 100px;
    margin: 300px 0px;
}

.footer .logos{
    text-align: center;
    padding-bottom: 25px;

}

.footer .logos a img{
    display: inline-block;
    height: 50px;
    width: 150px;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid rgb(59, 61, 61);
    border-radius: 100px;
    margin: 70px;
}

.footer .foot{
    font-family: 'Bungee Spice',sans-serif;
    font-size: 25px;
    color: black;
    margin: 25px 25px;
    text-align: center;
    font-weight: bold;
}

.copyright{
    text-align: center;
    font-family: 'Bungee Spice',sans-serif;
}

.playstore a img{
    height: 55px;
    width: 170px;
    margin: 0px 550px;
    
}